        body {
            /* background-image: linear-gradient(rgba(44, 38, 38, 0.438), rgba(28, 28, 37, 0.315)), url(calculate.PNG); */
            background-size: cover;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            /* height: 100vh;
            width: 100%; */

        }

        .calculator {
            background-color: rgb(22, 58, 151);
            padding: 20px;
            border-radius: 10px;
            max-width: 340px;
            max-height: 600px;
            /* height: 100vh; */
            /* width: 100%; */
            border: solid rgba(255, 0, 76, 0.438);

        }
/* 340px */
        .display {
            width: 310px;
            height: 50px;
            background-color: white;
            font-size: 30px;
            text-align: right;
            font-weight: bold;
            padding: 10px;
            margin-bottom: ;
            border-radius: 6px;


        }

        .buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 10px;
            justify-content: center;
            align-items: center;

        }

        button {
            width: 70px;
            height: 70px;
            cursor: pointer;
            background-color: rgb(15, 32, 70);
            color: beige;
            font-size: 25px;
            border-radius: 5px;
           /* border: 20px solid rgb(15, 32, 70); */
        }

        button:hover {
            background-color: rgba(114, 64, 95, 0.685);
        }

        .clear {
            width: auto;
            background-color: red;
        }

        .del {
            width: auto;
            background-color: rgb(211, 140, 59);
        }

        .operator {
            text-align: center;
            background-color: rgb(92, 92, 5);
            font-size: 30px;
            color: white;
        }

        .equal {
            background-color: rgb(8, 148, 15);
            font-size: 30px;
        }
        .celsuis {
            width: auto;
           height: 20px;
            font-size: 15px;
        }